html{
    scroll-behavior: smooth;
}
.bgimg{
	background-image: url(Maternity_Services_Hero_Feature.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 660px;
}

div a img{
	width: 30px;
	height: 30px;
}

.headerset{
    padding-top: 270px;
    box-sizing: border-box;
}
.headerset h2{
    font-size: 42px;
    font-weight: bold;
}
.headerset h1{
    font-size: 82px;
    font-weight: bold;
}
.About{
	height: 600px;
	width: 100%;
	padding: 100px 0px 0px 0px;
}
.ourservices{
	padding: 100px 0px 60px;
	height: 700px;
}
.ourservices h2{
	font-size: 50px;
	font-weight: bold;
}
.rowsetting{
	margin: 80px 0px !important;
}
.imgsetting{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
.fa-tint{
	margin-top: 26px;
}
.fa-users{
	margin-top: 23px;
}
.rowsetting h2{
	margin-top: 20px;
	font-weight: bold;
	font-size: 40px;
}
.rowsetting p{
	padding: 10px;
	color: #6c757d!important;

}
.diffent{
	height: 160px;
}
.key{
	height: 1100px;
	width: 100%;
	padding: 100px 0px 50px;
}

.key h1{
	font-size: 50px;
	font-weight: bold;
}
.card{
	margin-top: 40px;
}

/*FOOTER*/

footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  transform: rotate(360deg);
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
 

@media(min-width: 992px){

} 

@media(min-width: 768px) and (max-width: 991px){
	.headerset h2{
    font-size: 22px;
    margin: 20px 0px;
    
}
.headerset h1{
    font-size: 32px;
    
}
}

@media(min-width: 575px) and (max-width: 767px){
	.headerset h2{
    font-size: 22px;
    margin: 20px 0px;
    
	}
.headerset h1{
    font-size: 32px;
    
}
.About{

	height: 800px;
}
.About h1{
	margin: 20px 0px;
}
.ourservices{
	height: 1150px;
}
.key{
	height: 3050px;
	width: 100%;
	padding: 100px 0px 50px;
}
.Contact{
	height: auto;
}
}
@media(min-width: 460px) and (max-width: 574px){
	.headerset h2{
    font-size: 22px;
    margin: 20px 0px;
    
	}
.headerset h1{
    font-size: 32px;
    
}
.About{
	height: 800px;
}
.ourservices{
	height: 1000px;
}
.key{
	height: 2800px;
	width: 100%;
	padding: 100px 0px 50px;
}
.Contact{
	height: auto;
}
}

@media(max-width: 479px){
	.headerset h2{
    font-size: 22px;
    margin: 20px 0px;
    
}
.headerset h1{
    font-size: 32px;
    
}
.About{
	height: 800px;
}
.ourservices{
	height: 1150px;
}
.key{
	height: 2700px;
	width: 100%;
	padding: 100px 0px 50px;
}

}
